.svgApp_container{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #001523;
}
.svgApp{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.ray_1, .ray_2, .ray_3, .ray_4, .ray_5, .ray_6, .ray_7, .ray_8, .ray_9, .ray_10{
    cursor: pointer;
}